.App {
  text-align: center;
}

ol {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

table {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

tr td {
  border: 1px solid grey;
}

tr:hover {
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.25);
}

span {
  float: right;
  margin-right: 2em;
  font-weight: 1000;
}

span:hover {
  color: red;
  cursor: pointer;
}

.modal-content {
  background-color: white;
  position: absolute;
  top: 20%;
  left: 30%;
  width: 40%;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid black;
}

.modal-content div{
  padding: 5px;
}

textarea {
  height: 5em;
  width: 30em;
}
