.App {
  text-align: center;
}

ol {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

table {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

tr td {
  border: 1px solid grey;
}

.modal {
  /* display: none; */
  position: absolute;
  top: 20em;
  left: 20em;
  z-index: 1;
  width: fit-content;
  height: 20%;
  background-color: white;
  border: 1px solid grey;
  block-size: fit-content;
  
}

span {
  float: right;
  margin-right: 2em;
  font-weight: 1000;
}

span:hover {
  color: red;
  cursor: pointer;
}

/* .modal-content {
  background-color: white;
  position: absolute;
  top: 20%;
  left: 30%;
  width: 40%;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid black;
} */

.modal-content div{
  padding: 5px;
}
